@model AppMvc.Models.Blog.Category

@{
    ViewData["Title"] = "Chuyên mục blog";
    
}

<div class="card box-shadow">
    <h1 class="card-header">@ViewData["Title"]</h1>
    <dl class="card-body">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.Description)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách chuyên mục blog</a>
</div>
